
html body{
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: #2c2c2c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#terminal {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1ch);
    grid-template-rows: repeat(auto-fill, 1lh);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    white-space: pre;
}
.widget .scrolling-content {
    display: inline-block;
}
.widget .content-wrapper {
    display: inline-block;
    overflow: hidden;
}
#weather-widget {
    grid-column: 6 / span 21;
    grid-row: 2 / span 5;
}
#time-widget {
    grid-column: 6 / span 21;
    grid-row: 8 / span 5;
}
#reading-widget {
    grid-column: -26 / span 21;
    grid-row: 2 / span 5;
}
#spotify-widget {
    grid-column: -26 / span 21;
    grid-row: 8 / span 5;
}
#weather-art {
    grid-column: 1 / -1;
    grid-row: 7 / span 21;
    justify-self: center;
}
.shortcuts {
    grid-column: 1 / -1;
    grid-row: -3 / span 1;
    justify-self: center;
    overflow: hidden;
    display: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#console-ticks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.console-tick {
    position: absolute;
    color: #ffffff;
}
